# Configuration file

client {
    # Should the exp bar be hidden?
    B:hideBar=true
}


general {
    # How many experience points to Bottles of Enchanting give if drunk?
    I:bottleExperience=7

    # Should xp drops be disabled.
    B:disableXP=true

    # Can Bottles of enchanting be drunk to gain experience?
    B:drinkBottles=true
}


